<div class="container">


  <h2>List User</h2>

  <input [(ngModel)]="student.id">
  <input [(ngModel)]="student.name">
  <input [(ngModel)]="student.img">
  <button (click)="create()">Create</button>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of list">
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td><img src="{{c.img}}" width="300" height="250"/></td>
      <td><button type="button" (click)="showEdit(c)" class="btn btn-warning">Edit</button></td>
      <td><button type="button" (click)="delete(c.id)" class="btn btn-danger">Delete</button></td>

    </tr>

    </tbody>
  </table>
</div>

